/* getting rid of the standard padding so we have a fresh start */
*{
    padding: 0;
    Margin: 0;
}
html, body{
    padding:0px;
    margin:0px;
    background:#191A1D;
    font-family: 'Karla', sans-serif;
    width:100vw;}
#main-div{
    background-color: rgb(92, 88, 88);
    
}

/* HTML Nav Styles */

/* styling all the menu items inside the navbar */
nav menuitem {
    position:relative;
    display:block;
    opacity:0;
    cursor:pointer;
 }
 /*  selects the menu tag inside of the menuitem */
 nav menuitem > menu {
    position: absolute;
    pointer-events:none;
 }
 /* selects the menu tags under the nav tag*/
 nav > menu { display:flex; 
}
 
/* selects the all menu items that are children to the  menu and menu items children to the nav */
 nav > menu > menuitem { pointer-events: all; opacity:1; }

 /* selects all the links inside the menuitems*/
 menu menuitem a { white-space:nowrap; display:block; }
  
 /* all menu tags that are children to a menuitem that is being hoverd over:*/
 menuitem:hover > menu {
    pointer-events:initial;
 }
 /* all menu item tags that are children to menu tags that are children to a menuitem being hovered over along with menuitem children to parent menu being hovered over */
 menuitem:hover > menu > menuitem,
 menu:hover > menuitem{
    opacity:1;
 }
 /* selecting all menu tags inside menuitem tags that are inside of another menuitem which are children of menu tags and children of nav*/ 
 nav > menu > menuitem menuitem menu {
    transform:translateX(100%);
    top:0; right:0;
 }
 /* User Styles */
 
 nav { 
    margin-top: 40px;
    margin-left: 40px;
 }
 
 nav a {
    background:#75F;
    color:#FFF;
    min-width:190px;
    transition: background 0.5s, color 0.5s, transform 0.5s;
    margin:0px 6px 6px 0px;
    padding:20px 40px;
    box-sizing:border-box;
    border-radius:3px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    position:relative;
 }
 
 nav a:hover:before {
    content: '';
    top:0;left:0;
    position:absolute;
    background:rgba(0, 0, 0, 0.2);
    width:100%;
    height:100%;
 }
 
 nav > menu > menuitem > a + menu:after{
    content: '';
    position:absolute;
    border:10px solid transparent;
    border-top: 10px solid white;
    left:12px;
    top: -40px;  
 }
 nav menuitem > menu > menuitem > a + menu:after{ 
    content: '';
    position:absolute;
    border:10px solid transparent;
    border-left: 10px solid white;
    top: 20px;
    left:-180px;
    transition: opacity 0.6, transform 0s;
 }
 
 nav > menu > menuitem > menu > menuitem{
    transition: transform 0.6s, opacity 0.6s;
    transform:translateY(150%);
    opacity:0;
 }
 nav > menu > menuitem:hover > menu > menuitem,
 nav > menu > menuitem.hover > menu > menuitem{
    transform:translateY(0%);
    opacity: 1;
 }
 
 menuitem > menu > menuitem > menu > menuitem{
    transition: transform 0.6s, opacity 0.6s;
    transform:translateX(195px) translateY(0%);
    opacity: 0;
 } 
 menuitem > menu > menuitem:hover > menu > menuitem,  
 menuitem > menu > menuitem.hover > menu > menuitem{  
    transform:translateX(0) translateY(0%);
    opacity: 1;
 }

 #logo{
   width: 300px;
   height: 300px;
   text-align: center;
 }
 